H1 {
 color: navy;
 font-size: 70px;
 font-family: Arial, Verdana, sans-serif;
 text-align: center;
}
H2 {
 color: rad;
 font-size: 70px;
 font-family: Arial, Verdana, sans-serif;
 text-align: center;
}

body {
 padding-left: 20px;
 background-color: blue;
}